<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			Chain Reaction
		</title>
		<link rel="stylesheet" type="" href="static/style.css">
	</head>
	<body class="yes">
		<div>
			<div class="title_logo">
				<h1>
					Chain Reaction
				</h1>
				<div class="video">
					<video src="assets/chain reaction.mp4" autoplay muted playsinline loop>
					</video>
				</div>
			</div>
			<div class="game">
			</div>
		</div>
		<script src="static/call.js">
		</script>
	</body>
</html>
